<footer class="footer">
    <p>Juan Martin Anghilante Developer</p>

    <a href="https://github.com/Juanmaanghilante"><i class="fa-brands fa-github"></i></a>
    <a href="https://www.linkedin.com/in/juan-m-anghilante/"><i class="fa-brands fa-linkedin"></i></a>
  </footer>