<%- include('./partials/head.ejs') %>
 
<%- include('./partials/header.ejs') %>
<body>
    
   

     <section class="heroS">
        <div class="content-container">
       <div class="aboutDiv">

      
                <h1 class="aboutt"  id="aboutt1">front-end skills</h1>
                <ul class="ule" id="ule1" >
                    <li>html</li>
                    <li>javascript</li>
                    <li>api rest</li>
                    <li>node js</li>
                </ul>
            </div>
       <div class="aboutDiv">
       
                <h1 class="aboutt" id="aboutt2">back-end skills</h1>
                <ul class="ule" id="ule2"  >
                    <li>express</li>
                    <li>http</li>
                    <li>crud</li>
                    <li>mysql</li>
                    <li>apis</li>
                </ul>
            </div>
            </div>
        </div>
    </section>
     
    <script src="./js/script2.js"></script>
</body>
<%- include('./partials/footer.ejs') %> 